## Details:
* Date - The date of the observation.
* AveragePrice - the average price of a single avocado
* type - conventional or organic
* year - the year
* Region - the city or region of the observation
* Total Volume - Total number of avocados sold
* 4046 - Total number of avocados with PLU 4046 sold
* 4225 - Total number of avocados with PLU 4225 sold
* 4770 - Total number of avocados with PLU 4770 sold

In [3]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

In [5]:
df=pd.read_csv('Avocado.csv')
df.head()

,Unnamed: 0,Date,AveragePrice,Total Volume,4046,4225,4770,Total Bags,Small Bags,Large Bags,XLarge Bags,type,year,region
0,0,2015-12-27,1.33,64236.62,1036.74,54454.85,48.16,8696.87,8603.62,93.25,0.0,conventional,2015,Albany
1,1,2015-12-20,1.35,54876.98,674.28,44638.81,58.33,9505.56,9408.07,97.49,0.0,conventional,2015,Albany
2,2,2015-12-13,0.93,118220.22,794.70,109149.67,130.50,8145.35,8042.21,103.14,0.0,conventional,2015,Albany
3,3,2015-12-06,1.08,78992.15,1132.00,71976.41,72.58,5811.16,5677.40,133.76,0.0,conventional,2015,Albany
4,4,2015-11-29,1.28,51039.60,941.48,43838.39,75.78,6183.95,5986.26,197.69,0.0,conventional,2015,Albany

In [8]:
df.duplicated().sum()

0

## Univariate Analysis

#### Q1: check distribution of average price during Jan 2018

In [ ]:
avarageprice2018=df[df.year==2018]
avarageprice2018.groupby

#### Q2: using diffrent chart than you used in the previous one, plot the distribution for Jan 2018 Average price

#### Q3: Create box-plot for the Average price, but this time for all the dataset, and comment your conclusion

# Bi/Multivariate

#### Q4: Create a tracing boxplots (multiple box-plots in one figure) that shows the average price for each month and colored by year to distnguish between them

#### Q5: compare between average prcies of diffrent types of producs

#### Q6:what are the top 10 best selling region with pandas and with a chart?

#### Q7 : Create multiple a heat map to compare between Average Price for each month for each year.

#### Q9 : Create bar chart group for each year, reflects Average Price in each month

#### Create a new column for profit

#### what is the best selling Month

### For each month what is the most selling type